/* FUENTES ENLAZADAS */
@font-face {
    font-family: 'MiFuente';
    src: url("Font/MiFuente.ttf") format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MiFuente2';
    src: url("Font/MiFuente2.ttf") format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

/* CONFIGURACIÓN CUERPO DE LA PÁGINA */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #ebebeb;
}

h1 { font-family:"MiFuente", sans-serif;
    color: #000000;
    font-style: italic;
}

#h1bold {
    font-family:"MiFuente2", sans-serif;
    color: #000000;
    font-style: italic;
}

/* CONFIGURACIÓN HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 15px 40px;
    background: #d5d3d3;
}

.logo img {
    width: 180px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 50px;
    margin-left: 50px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.profile-box {
    background: #b3b3b3;
    padding: 20px 80px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: 0%;
    align-items: center;
    gap: 8px;
}

.profile-box a {
    text-decoration: none;
    color: black;
}

.profile-box i {
    font-size: 18px;
}

.hero {
    position: relative;
    width: 100%;
    height: 550px;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    background: rgba(213, 211, 211, 0.5);
    padding: 50px;
    padding-left: 120px;
}

.hero-text h1 {
    font-size: 60px;
    color: black;
}

/* CATALOGO */

.catalog {
    text-align: left;
}

.catalog h1 {
    font-family:"MiFuente2", sans-serif;
    padding: 80px;
    font-size: 35px;
}

/* BARRA DE BUSQUEDA (SEARCH) */

.search-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    margin-top: -130px;
    padding-right: 80px;
}

.search-box input {
    padding: 12px 15px;
    width: 250px;
    border: none;
    border-radius: 50px;
    background-color: #d5d3d3;
    font-weight: normal;
    font-size: 16px;
    color: #666;
}

.search-box input::placeholder {
    color: #666;
}

.search-box {
    position: relative;
}

.search-box button {
    position: absolute;
    right: 95px;
    background: transparent;
    border: none;
    color: #666;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box button i {
    color: #666;
}

.search-box input:focus {
    outline: none;
}

/* PRODUCTOS */

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas */
    gap: 0px;
    justify-content: center;
    margin-top: 80px;
}

.product {
    align-items: center;
    text-align: center;
    justify-content: space-between;
    position: relative;
    padding-bottom: 20px;
}

.product img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

/* CONTENEDOR DE LA IMAGEN DEL PRODUCTO, NOMBRE, PRECIO Y FAV */
.product-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    padding: 0 15px;
    min-height: 50px;
}

.product h3 {
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

.price {
    margin-top: 5px;
    margin-bottom: 20px;
}

.favorite-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #000;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

.favorite-btn i {
    transition: color 0.3s ease;
}

.favorite-btn.active i {
    color: rgb(0, 0, 0);
}

.favorite-btn i.fa-solid {
    color: rgb(0, 0, 0);
}

/*AQUI EMPIEZA CONTACT US*/

.contact-us {
    text-align: center;
    padding: 0;
    background: url("image/backgroundcontactus.jpg") no-repeat center center/cover;
    color: #fff;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-title {
    font-family: "MiFuente", sans-serif;
    font-size: 70px;
    text-transform: uppercase;
    font-style: italic;
    text-align: left;
    padding: 0px 120px;
    color: white;
    margin-top: 30px;
}
.contact-title2 {
    font-family: "MiFuente2", sans-serif;
    font-size: 70px;
    text-transform: uppercase;
    font-style: italic;
    text-align: left;
    padding: 0px 120px;
    color: white;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.contact-text {
    max-width: 520px;
    text-align: left;
    padding-left: 120px;
}
.contact-infotitle {
    text-align: left;
    max-width: 300px;
    padding-right: 300px;
    font-weight: bold;
    font-size: 20px;
    padding: 0%;
}

.contact-info {
    margin-top: -50px;
    text-align: left;
    max-width: 800px;
    padding-right: 350px;
}

.contact-info p{
    margin-bottom: 20px;
}

/*AQUI EMPIEZA EL FOOTER*/

.footer {
    background: #111;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

.footer-links {
    margin: 10px 0;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a:hover {
    text-decoration: underline;
}

/*AQUI EMPIEZA LOS ICONOS*/

.social-icons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
}

.social-link {
    color: white;
    font-size: 24px;
    transition: color 0.3s ease;
}

.social-link:hover {
    color: #8b8b8b;
}

.social-handle {
    color: white;
    font-size: 18px;
}